@tailwind base;
@tailwind components;
@tailwind utilities;

/* Cinema Scope Scrollbars */
::-webkit-scrollbar {
  width: 4px; /* Thinner */
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #030304; /* Void */
}

::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 0px; /* Square */
}

::-webkit-scrollbar-thumb:hover {
  background: #ffb703; /* Plasma */
}

/* Global Styles */
body {
  background-color: #030304; /* Void */
  color: #e4e4e7;
  font-family: 'Geist Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Utilities */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  /* Holographic Industrial Utilities */
  .glass-panel {
    @apply bg-carbon/80 backdrop-blur-xl border border-white/5 shadow-inner-light;
  }

  .btn-mechanical {
    @apply border border-white/10 bg-white/5 hover:bg-white/10 active:bg-plasma active:text-black transition-all duration-75 uppercase tracking-widest text-[10px] font-bold;
  }

  .viewfinder-corner {
    @apply absolute w-4 h-4 border-white/20;
  }
}
